package deltix.util.collections.generated;

import deltix.util.memory.*;
import deltix.util.collections.*;

/**
 *  Compares keys as ${prim}s.
 */
public final class ${wrap}Comparator implements ByteArrayComparator {
    private int     mOrder;
    
    private ${wrap}Comparator (int order) {
        mOrder = order;
    }
    
    public int      compare (byte [] key1, int offset1, byte [] key2, int offset2, int keySize) {
        assert (keySize == MemorySizeEstimator.${size});
        
        ${prim}           f1 = DataExchangeUtils.read${abbr} (key1, offset1);
        ${prim}           f2 = DataExchangeUtils.read${abbr} (key2, offset2);
        
        if (f1 == f2)
            return (0);
        else if (f1 > f2)
            return (mOrder);
        else
            return (-mOrder);
    }
    
    public static final ${wrap}Comparator       ASCENDING = new ${wrap}Comparator (1);
    
    public static final ${wrap}Comparator       DESCENDING = new ${wrap}Comparator (-1);
}
