package deltix.util.collections.generated;

import java.util.Enumeration;

public interface ${name}Enumeration extends Enumeration<$type_Object> {
    public ${type} next${name_abbr}Element ();
}
